<%- include("partials/header") %>
<img src="/images/Tejeshwini R S.jpg" alt="myphoto" width="300" height="300" style="border: 5px solid #DEB887;">
<br>
<h2 class="homeh2"><b>Tejeshwini R S</b></h2>
<h4 class="homeh4">Student</h4>
<br><br>
<div class="homediv">
    I am studying B.Tech in Information Tehnology at Annauniversity.
    I expect to graduate in Spring 2023.I'm eager to learn,proactive,meticulous.
    I love nothing more than working with people,building amazing software and solving
    technical problems.And I'm a classical Dancer and received a title "KALAI ILAMANI" from
    the Government of TamilNadu. 
</div>
<%- include("partials/footer") %>