<%- include("partials/header") %>
<div class="resumediv">
    <h1 class="resumeh1"><b><u>MY RESUME</u></b></h1>
    <div style="text-align: center;">
    <p><a href="#skill">Click here to know my skills</a></p>
    <p><a href="#edu">Click here to know my education</a></p>
    <p><a href="#lang">Click here to know the languages I know</a></p>
    <p><a href="#proj">Click here to know my projects</a></p>
    <p><a href="#workshop">Click here to know the workshops I attended</a></p></div>
    <br><br>
    <h2 id="skill"><b>SKILLS</b></h2>
    <p>Languages : C, C++ <br>
        Web Technologies : HTML, CSS, MYSQL ,NODEJS,MONGODB<br>
        Graphic Designing <br>
        </p>
        <br><br>
        <h2 id="edu"><b>EDUCATION</b></h2>
        <p>2019 July - Present B.Tech. : Information Technology 
            Madras Institute of Technology ,Chennai .<br>
            <centre>CGPA - 8.27 </centre><br>
            2017 - 2018 High School  :
            Parimalam Matriculation School - Hosur 
            <centre>94% </centre><br> 
            </p>    
            <br><br>
            <h2 id="lang"><b>LANGUAGES</b></h2>
            <p>Tamil   :&#9733;&#9733;&#9733;&#9733;&#9733;<br>
               English :&#9733;&#9733;&#9733;&#9733;<br>
               Kannada :&#9733;&#9733;&#9733;<br>
                </p>
            <br><br>
            <h2 id="proj"><b>PROJECTS</b></h2>
            <p><b>1. HOSPITAL WEBSITE : ( FEB - MARCH 2020) </b><br>
                Used HTML , CSS , JAVASCRIPT , PHP , MYSQL to achieve a fully  developed website. <br>
                <b>2. FOOD BLOG FRONT-END : ( AUGUST 2020 )</b><br>
                Used BOOTSTRAP to achieve Front end of a website and deployed in  the github . <br>
                 <a href="https://tejeshwinirs.github.io/Food-blog/">GITHUB LINK </a><br>
                 <b>3. REAL-TIME FACE MASK DETECTION : ( NOVEMBER 2021 )</b><br>
                Learnt to preprocess data and included a spontaneous warning buzzer for non-violaters.<br>
                 <b>4. PERSONAL BLOG : ( JAN 2022 )</b><br>
                 Used ejs & nodejs and deployed in  the herokuapp . <br>
             </p>

             <br><br>
             <h2 id="workshop"><b>WORKSHOPS</b></h2>
             <p>Jan. 2021 PYTHON <br>
                Sep. 2020 C PROGRAMMING <br>
                Aug. 2020 WEB DEVELOPMENT <br>
              </p>
</div>
<%- include("partials/footer") %>